<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rabwatchfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cecb95c0-f644-4489-ba65-fada608c4ae6/resourceGroups/learn-003135ce-5351-43d7-9899-fb10e892b4e5/providers/Microsoft.Web/sites/rabwatchfunctions</ResourceId>
    <UserName>$rabwatchfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://rabwatchfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>